body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #66cdaa;
    padding: 20px;
    color: white;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 30px;
}

footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px;
}

.container {
    display: flex;
    flex-direction: column; 
}

.image-with-text {
    display: flex;
    align-items: center;
    background-color: #66cdaa;
}

.image-with-text img {
    margin-right: 10px;
}

.text {
    flex-grow: 1;
    color: #333;
}

h1 {
    margin-top: 20px;
}

.image-with-text2 {
    display: flex;
    align-items: center;
    background-color: #333;
}
.image-with-text2:hover{
    background-color: #c8cad3;
}

.image-with-text3:hover{
    background-color: #c8cad3;
}

.image-with-text4:hover{
    background-color: #c8cad3;
}

.image-with-text:hover{
    background-color: #c8cad3;
}

.image-with-text2 img {
    margin-right: 10px;
}

.text2 {
    flex-grow: 1;
    color: #66cdaa;
}

.image-with-text3 {
    display: flex;
    align-items: center;
    background-color: #66cdaa;
}

.image-with-text3 img {
    margin-right: 10px;
}

.text3 {
    flex-grow: 1;
    color: #333;
}

.image-with-text4 {
    display: flex;
    align-items: center;
    background-color: #333;
}

.image-with-text4 img {
    margin-right: 10px;
}

.text4 {
    flex-grow: 1;
    color: #66cdaa;
}

.yaspatuhocy {
    background-color: #66cdaa;
    color: #333;
}

.tu :hover {
    background-color: #66cdaa;
    color: #333;
}
